* {
    font-family: 'Nimbus Sans', sans-serif;
    color: #292929;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
}

h1 {
    text-align: center;
    border-bottom: 2px solid lightgray;
}

h2 {
    border-bottom: 2px dashed  lightgray;
    width: 40%;

}

h3 {
    border-bottom: 2px dashed  lightgray;
    width: 30%;
}

a:hover {
    border: 1px dashed lightgray;
}

code {
    background: #f3f3f3;
    border-radius: 5px;
    font-family: monospace;
    padding: 5px;
}

pre code {
    display: block;
    background: #f3f3f3;
    border-radius: 5px;
    width: 60%;
    font-family: monospace;
    overflow-x: scroll;
}